<script type="text/javascript" src={{ "/js/nest.js" | relURL }} count=150 color="255,255,255" opacity=1>
</script>

<link rel="stylesheet" type="text/css" href="/css/cursor.css">
<img id="Cursor" src="/images/cursor/silverwolf/01-Normal.gif">

<script type="text/javascript" src={{ "/js/cursor.js" | relURL }}>
</script>

{{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}

{{ if .Page.Store.Get "hasABC" }}
  <script type="text/javascript" src={{ "/js/abcjs-basic-min.js" | relURL }} >
  </script>
  <script type="text/javascript" >
    var e = document.getElementById("paper");
	var tune = e.innerHTML;
	ABCJS.renderAbc("paper", tune, { scale: 0.9 });
	e.className = "renderABC";
	e.id = "rendered";
  </script>
{{ end }}